# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/run-data
/src/generated/resources/.cache
/.vscode
/libs/pantographsandwires-forge-1.20.1-alpha-0.0.4.jar
/libs/Steam_Rails-1.6.7+forge-mc1.20.1.jar
